<select name="category" required>
        <option value="" disabled selected>Select a category</option>
        <option value='Australia'>Photography</option>
        <option value='Afghanistan'>Graphic Design</option>
        <option value='Ascension Island'>Onsite volunteer</option>
        <option value='Angola'>Rides</option>
        <option value='Andorra'>Career Mentoring</option>
        <option value='Antarctica'>School Assignments</option>
        <option value='United Arab Emirates'>Software Engineering</option>
        <option value='Austria'>Digital Marketing</option>
        <option value='Antigua And Barbuda'>Fashion Design</option>
        <option value='Anguilla'>Interior Design</option>
        <option value='Albania'>Tutoring</option>
        <option value='Armenia'>Parenting</option>
        <option value='Argentina'>Business</option>
        <option value='American Samoa'>Project Managment</option>
</select>