<select name="category" required>
        <option value="" disabled selected>Select a category</option>
        <option value='Photography'>Photography</option>
        <option value='Graphic Design'>Graphic Design</option>
        <option value='Onsite volunteer'>Onsite volunteer</option>
        <option value='Rides'>Rides</option>
        <option value='>Career Mentoring'>Career Mentoring</option>
        <option value='School Assignments'>School Assignments</option>
        <option value='Software Engineering'>Software Engineering</option>
        <option value='Digital Marketing'>Digital Marketing</option>
        <option value='Fashion Design'>Fashion Design</option>
        <option value='Interior Design'>Interior Design</option>
        <option value='Tutoring'>Tutoring</option>
        <option value='Parenting'>Parenting</option>
        <option value='Business'>Business</option>
        <option value='Project Managment'>Project Managment</option>
</select>