<div>
    <div class="box" >
        <div class="content">
            <header class="align-center">
                <h4><%= obj.username %> is offering help ! </h4> 
                <p></p>
                <p style="color:black;"> Category :<%= obj.category %></h4>
                <p style="color:black;"> Place: <%= obj.place %></p>
            </header>
            <div class="12u 12u$(medium) align-center" >
                <p style = " overflow-wrap: break-word;">
                        <%= obj.desc %>
                </p>
            </div>
            <footer class="align-center">
                <a href="/helpinghands" class="button special">Contact</a>
            </footer>
        </div>
    </div>
</div>



