<!DOCTYPE HTML>
<html>
	<head>
		<title>Helping Hands</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
	</head>
	<body>

	<!-- Header -->
	<header id="header" class="alt">
			<div class="logo"><a href="/home">Helping Hands</a></div>
			<a href="#menu">Menu</a>
		</header>

	<!-- Nav -->
	<nav id="menu">
			<ul class="links">
				<li><a href="/home">Home</a></li>
				<% if ( userid == 0 ) { %>
					<li><a href="/login">Login</a></li>
				<% } %>
				
				<% if ( userid != 0 ) { %>
					<li><a href="/logout">Logout</a></li>
				<% } %>

				<li><a href="/register">Register</a></li>
				<li><a href="/helpinghands/requests">Help Others</a></li>
            	<li><a href="/helpinghands">Ask For help</a></li>
			</ul>
		</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="/images/home1.jpeg" alt="" />
					<div class="inner">
						<header>
							<p>We all need sometimes a </p>
							<h2>Helping Hands</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="/images/home2.jpeg"  alt="" />
					<div class="inner">
						<header>
							<p>We got each others back by giving</p>
							<h2>Helping Hands</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="/images/home3.jpg" alt="" />
					<div class="inner">
						<header>
							<p>No one is useless in this world who gives a</p>
							<h2>Helping Hands</h2>
						</header>
					</div>
				</article>
				
			</section>


			<div class="box">
					<div class="content">
						<header class="align-center">
							<h2>How it works</h2>
						</header>
						
						<p style = "text-align: center;">
							You are a helpful person who wants to help others ? or you are looking for help in a specific subject.<br>
							Helping Hands is a website that connects people all over the world that offers help and people in a need for help.<br>
							You can offer help in your profession, volunteering, giving career advice, or any other way.<br>
							And also you can ask for help if you need a career coaching, car ride, some volunteers, or anything else.

						</p>
					
					</div>
			</div>
		
		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="/images/triple.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Find people who needs you</p>
										<h2>Help Others</h2>
									</header>
									<p style="text-align: center;"> 
										Alot of peope is waiting for you! <br>
										Don't hesitate, come on and give them a Helping Hand!.<br>
										your contribution will affect others live.
									</p>
									<footer class="align-center">
										<a href="helpinghands/requests" class="button alt">Help Someone</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/hand.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Find someone to help you</p>
										<h2>Ask For Help</h2>
									</header>
									<p style="text-align: center;"> 
										Alot of peope can help you <br>
										You can just submit your request and people will reach for you<br>
										We all need a Helping Hand sometimes
									</p>
									<footer class="align-center">
										<a href="/helpinghands" class="button alt">Find Help</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
		
		

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>